<%- include("partial/header") -%>

<div class="home-container-1x" id="main">
    <div class="home-container-2x">
            <h1 class="main-page-title">Would You <br>Date Them?</h1>
            <a href="playGame">
                <div class="home-bttn clr-white">
                    Play the game!
                </div>
            </a>
            <a href="contributeToGame">
                <div class="home-bttn clr-white">
                    Contribute!
                </div>
            </a>
            <a href="#instructions-section">
                <div class="home-bttn clr-white">
                    Read the instructions!
                </div>
            </a>
    </div>
</div>
<div class="casino-machine-super-container">
    <div class="casino-machine-upper-container clr-pink">
        <div class="casino-machine-light-pink-cropped clr-light-pink">
            <div class="casino-machine-pink-cropped clr-pink"></div>
        </div>
        <div class="casino-machine-light-pink-rect clr-light-pink"></div>
    </div>
    <div class="casino-machine-lower-container clr-light-pink">
        <div class="game-instructions" id="instructions-section">
            <h2>Rules! (sort of)</h2>
            <p>
                “Would you date them?” is an online game to test yourself and/or your friends regarding your tastes and preferences. It’s also a way of sharing your experiences! You will be given 3 randomly selected traits of a person and asked if you would date them; these characteristics are selected from a database of traits that you can also contribute to! <br> <br>
                As to the number of points or the playing order or other specific things such as those, there are no rules! Maybe the winner is the person with the most “Yeah!”s, maybe the winner is the person who won’t date anyone. Up to you! <br>
            </p>
            <a href="#main">
                <div class="home-bttn clr-white go-back">
                    Go back up!
                </div>
            </a>
        </div>
    </div>
</div>




<%- include("partial/footer") -%>