:root {
    --var-color-1: #bb1350;
    --var-color-2: #FF3D83;
    --var-color-3: #FE92B9;
    --var-color-4: #F5F5F5;
}

html {
    font-family: 'Grandstander', cursive;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--var-color-2);
    /* height: 100vh; */
    max-height: 2800px;
}

home-body {
    height: 2800px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

a {
    text-decoration: none;
}

.clr-white {
    background-color: var(--var-color-4);
}

.clr-light-pink {
    background-color: var(--var-color-3);
}

.clr-pink {
    background-color: var(--var-color-2);
}

.clr-dark-pink {
    background-color: var(--var-color-1);
}

.home-container-1x {
    /* height: 100%; */
    width: 92%;
    padding: 0;
    padding-left: 8%;
    position: absolute;
    z-index: 50;
}

.home-container-2x {
    width: 80%;
    padding-top: 3%;
    /* position: absolute; */
    z-index: 15;
    display: flex;
    flex-flow: column;
}

.main-page-title {
    font-weight: bolder;
    font-size: 6rem;
    color: var(--var-color-4);
    width: 100%;
    text-shadow: 1px 1px 5px black;
    margin: 0;
    margin-bottom: 30px;
    line-height: 1.2;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.main-page-title:hover {
    font-size: 6.4rem;
    transition: all 0.4s ease;
}

.home-bttn {
    z-index: 70;
    border-radius: 10px;
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: center;
    place-items: center;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--var-color-1);
    box-shadow: 1px 1px 10px black;
    margin-bottom: 25px;
    /* -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out; */
    transition: all 0.4s ease-out;
}

a div:hover {
    background-color: var(--var-color-1);
    color: var(--var-color-4);
    transition-duration: 0.5s;
    height: 76px;
    width: 400px;
    /* -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease; */
    transition: all 0.4s ease;
}

.casino-machine-super-container {
    /* width: 500px;
    height: 1000px; */
    /* width: 100%; */
    width: 1500px;
    height: 2800px;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    margin: auto;
}

.casino-machine-upper-container {
    width: 100%;
    height: 40%;
    display: flex;
}

.casino-machine-lower-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.casino-machine-light-pink-cropped {
    width: 70%;
}

.casino-machine-pink-cropped {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 99%;
}

.casino-machine-light-pink-rect {
    width: 30%;
}

.game-lever {
    position: absolute;
    top: 100px;
    left: -50px;
}

.lever-axis {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    top: 800px;
    left: 900px;
    overflow: hidden;
    box-shadow: 3px 3px 15px black;
}

.lever-arm-master {
    position: absolute;

    box-shadow: 3px 3px 15px black;
    filter: drop-shadow(2px 2px 2px black);
}

.lever-arm-one {
    width: 100px;
    height: 800px;
    transform: rotate(-45deg);
    position: absolute;
    top: 430px;
    left: 870px;
}

.lever-arm-two {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 1060px;
    left: 1150px;
}

.lever-hold {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 540px;
    box-shadow: 1px 1px 10px black;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

.game-instructions {
    margin-top: 400px;
    width: 60%;
    line-height: 1.5;
    color: var(--var-color-4);
    font-size: 1.9em;
    font-weight: bolder;
    text-shadow: 1px 1px 5px black;
}

.go-back {
    text-shadow: none;
    margin: auto;
    margin-top: 70px;
    font-size: inherit;
}

.contribute-site {
    font-size: 4rem;
}

.contribute-site input, button {
    margin-bottom: 35px;
}

.game-machine-super-container {
    position: relative;
    width: 70%;
    margin-left: 15%;
    height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    color: var(--var-color-1);
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 50;
}

.footer-container {
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 1px 1px 10px black;
    transition: all 0.4s;
    cursor: pointer;
}

.footer-container:hover {
    height: 70px;
    transition: all 0.4s;
}

